/* Theme modes */
--dark-mode {
  --color: #ffffff;
  --color-secondary: #cccccc;
  --background-color: #3c2954;
  --background-color-secondary: #6f4c9a;
  --code-label-bg: hsl(220, 27%, 20%);
  --code-label-color: #ffffff;
  --code-inline-bg: #bfbdb60f;
}

--light-mode {
  --color: #1f1a26;
  --color-secondary: #5d5569;
  --background-color: #e8dcff;
  --background-color-secondary: #dcc8ff;
  --code-label-bg: #e0dce5;
  --code-label-color: #5c6166;
  --code-inline-bg: #5c61660f;
}

/* Root variables */
:root {
  --header-height: 4em;
  --header-item-spacing: 1em;
  --header-link-height: 2em;
  --header-link-item-spacing: 0.5em;
  --meta-spacing: 0.25em;
  /* Body layout */
  --body-max-width: 860px;
  --body-padding: 1rem;
  --body-content-width: calc(var(--body-max-width) - var(--body-padding) * 2);
  /* Content max-widths */
  --centered-content-width: 750px;
}

/* Fonts */
@font-face {
  font-family: "Literata";
  src: url("/fonts/Literata.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Literata";
  src: url("/fonts/Literata-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/* Footnotes - inline popup (small screens, inverted colors) */
.footnote-inline a {
  color: var(--background-color);
  text-decoration-color: var(--background-color-secondary);
}

.footnote-inline a:hover {
  color: var(--background-color-secondary);
  text-decoration-color: color-mix(
    in srgb,
    var(--background-color-secondary) 80%,
    transparent
  );
}

/* Code blocks */
code span {
  display: inline;
}

/* Inline code background */
code.code {
  background-color: var(--code-inline-bg);
}

/* Table of contents */
.toc a:not(.active) {
  color: var(--color-secondary);
  text-decoration-line: none;
}
.toc a:not(.active):hover {
  color: var(--color);
}

.toc ul {
  list-style: none;
  padding-left: 0em;
  margin: 0;
}

.toc ul ul {
  padding-left: 1.5em;
}

/* Collapsible notes hierarchy */
.peer:checked ~ .peer-checked\:hidden {
  display: none;
}

.peer:checked ~ .peer-checked\:inline {
  display: inline;
}

.peer:checked ~ .peer-checked\:block {
  display: block;
}

/* TOC sidebar in grid layout */
.toc-sidebar .toc ul ul {
  padding-right: 1.5em;
  padding-left: 0;
}
